.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding-bottom: 24px;
}

.Container {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.error {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
}